/*
Colors used:
primarily Color (orange) : #ffe4c4;
Secondary Color (yellow):  #F7B708;
*/

header {
  position: fixed;
  width: 100%;/*
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
  background-color: #ffffff;
  padding: 20px 0 4px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  transition: 0.2s all;
}
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a:visited {
  color: #453E3E;
}

nav>ul>li>a:hover, a:focus {
  color: #F7B708;
  text-decoration: none;
}

nav>ul>li>a:active {
  color: #453E3E;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333333;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.self-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  padding-top: 50px;
}
.project-scr img{
  width:20%;
}

a {
  color: #453E3E;
  text-decoration: none;
  /* No underlining */
}

/*
a:visited {
  color: #453E3E;
}

a:hover,
a:focus {
  color: #F7B708;
  text-decoration: underline;
}

a:active {
  color: #0828f7;
}*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color:transparent;
  color: #453E3E;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: none;
  border: 2px solid #453E3E;
  transition: 0.2s all;
  /* width of the border, type, color */
  /*transition: 0.2s opacity;*/
}

.button:hover {
  /*opacity: 0.8;*/
  color: #F7B708;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  opacity: 0.8;
}

.button.contact, .button.cv {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}
 .button.cv {
  color: #453E3E;
  border: 2px solid #453E3E
}

.button.contact:hover, .button.cv:hover {
  background-color: transparent;
  color: #F7B708;
  border: 2px solid #F7B708;
}


/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and
 bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #d6d9de;
}

.logo {
  max-width: 250px;
}
.logo-size svg{
  width: 70px;
  height:auto;
  margin-top: auto;
  margin-bottom: auto;
}

#hero {
  text-align: center;
  background-color: #333333;
  padding: 40px;
/*  background-color: #ffffff;
  padding: 10px 0;
  display: inline-block;
  width: 100%;*/
}
#herotext h1 , #herotext p{
color: #ffffff;
}
#hero span {
  display: block;
}

main {
  padding-top: 100px;
}

#work h2, #hero h1, #hero p {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #333333;
  padding: 10px;
}
#footertext h2 {
color: #ffffff ;
font-size: 2em;

}
#footerp p{
    padding: 10px;
  color: #ffffff;
}
.social{
  text-align: center;
}
.Social a {
  font-size: 2em;
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
}

/*
.button.social{
  background-color: #F7B708;
  color: #453E3E;
  border: 2px solid #453E3E;
}
.button.social:hover{
  background-color:  #F7B708;
  color: #F7B708;
  border: 2px solid #F7B708;
}
*/
#about h1, #story h2, #skills h2 {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav>ul>li {
    display: inline-block;
    max-width: 100%;
  }
  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  .navtoggle.responsive nav {
    padding: 0 0 0;
  }
  .navtoggle.responsive li  {
    padding: 0;
    border-top: none;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav>ul>li {
    display: inline-block;
    max-width: 100%;
  }
  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav>ul>li {
    display: inline-block;
    max-width: 100%;
  }
  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-xl-5 {width: 41.66%;}
.col-xl-6 {width: 50%;}
.col-xl-7 {width: 58.33%;}
.col-xl-8 {width: 66.66%;}
.col-xl-9 {width: 75%;}
.col-xl-10 {width: 83.33%;}
.col-xl-11 {width: 91.66%;}
.col-xl-12 {width: 100%;}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
#skills h3 {
  margin-top: 0;
}

[class*="col-"] {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
.reverseimg  [class*="col-"] {
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/* short form for above .cloud-front
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}*/
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* social icon transitions*/
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icogithub:hover {
	background-color: #F7B708;
}
.social-network a.icobehance:hover {
	background-color: #F7B708;
}
.social-network a.icoLinkedin:hover {
	background-color:#F7B708;
}
.social-network a.icobehance:hover i,.social-network a.icogithub:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#F7B708;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
/* end social icon transitions*/
